body {
  height: 100vh;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 20px;
}

.react-tabs__tab-list {
  border: none;
  text-align: center;
  height: 100px;
  width: 100%;
}
.react-tabs__tab--selected {
  border: none;
  background-color: #102754;
  color: #fff;
}
.react-tabs__tab {
  margin-top: 30px;
  padding: 15px;
  width: 120px;
  border-radius: 50px;
  box-shadow: 6px 6px 16px 0px #0000001a;
}
.Logo {
  margin-left: 20px;
  margin-right: 20px;
}
.Box {
  /*background-color: blue;*/
  align-items: center;
}
.Card {
  background: linear-gradient(82.76deg, #4142c2 0%, #8e8dec 88.73%);
  box-shadow: 6px 6px 10px 0px #00000040;
  border-radius: 10px;
  max-width: 500px;
  height: 600px;
  text-align: center;
  color: #fff;
  padding-top: 100px;
  margin: 20px;
}
.Picture {
  margin: 0 auto;
  height: 175px;
  width: 175px;
  border-radius: 50%;
  background-color: #fff;
}
#service {
  text-align: center;
  color: #fff;
  height: 100vh;
  background-color: #102754;
  width: 100vw;
  overflow: auto;
}
#grid {
}
#box-1,
#box-2,
#box-3 {
  position: relative;
  height: 430px;
  width: 280px;
  text-align: left;
  border-radius: 5px;
}
#box-1,
#box-3 {
  background-color: #9190f3;
}

#box-2 {
  background-color: #4142c2;
}
.Details {
  margin-top: 120px;
  align-self: center;
}
.box img {
  position: absolute;
  top: -120px;
  height: 250px;
}

#box-1 img {
  animation: bounce2 3s ease infinite;
  animation-delay: 1s;
}
#box-2 img {
  animation: bounce2 3s ease infinite;
  animation-delay: 3s;
}
#box-3 img {
  animation: bounce2 3s ease infinite;
  animation-delay: 5s;
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}
